body {
  background-color: lightgrey;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  background-color: #fff;
  border: 5px solid grey;
}
.axis text {
  font: 11px "Signika";
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
#tooltip {
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 160px;
  height: 40px;
  background: pink;
  pointer-events: none;
}